<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->

    <link rel="stylesheet" href="../src/output.css">
</head>

<body>
    <nav class="flex justify-around bg-black text-white py-4 rounded-4xl m-5">
        <div class="logo">LOGO</div>
        <ul class="hidden sm:flex gap-5">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Services </li>
            <li>Projects</li>
        </ul>
        <div class="bar sm:hidden">
            ⏸️
        </div>
    </nav>



    <div class="heroSection flex flex-col sm:flex-row gap-5 align-center justify-center  p-5">
        <img src="https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg?ga=GA1.1.789549951.1745322129&semt=ais_hybrid&w=740"
            alt="" width="300px" class="mx-auto rounded-2xl">
        <div class="md:text-start text-center">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae rerum quis praesentium aspernatur optio
                voluptate laborum, perspiciatis nostrum sed repellendus neque non impedit eos ipsum. Voluptate
                distinctio ad consectetur soluta?</p>
            <button>Click me </button>
        </div>
    </div>
</body>

</html>