<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exile&family=Playwrite+RO:wght@100..400&display=swap"
        rel="stylesheet">

    <!-- <style>
        .box {
            width: 200px;
            height: 200px;
            /* font-family: "", cursive; */
            font-size: 1rem;



        }
    </style> -->
</head>

<body>

    <nav class="flex justify-around bg-black text-white py-4 rounded-4xl m-5">
        <div class="logo">LOGO</div>
        <ul class="flex gap-5">
            <li>home</li>
            <li>home</li>
            <li>home</li>
            <li>home</li>
            <li>home</li>
        </ul>
    </nav>


    <!-- <p class="text-7xl">Lorem ipsum dolor sit amet.</p> -->
    <div class="main flex gap-5 m-6">
        <img class="rounded-4xl" src="https://ganeshdutt100.github.io/Ganesh_Portfolio/newImgGanesh3Circle1.jpg" alt=""
            width="300px" height="200px">
        <div class="text">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio consequuntur nam nisi maxime sequi
                quos quod laboriosam odio provident, odit harum eligendi totam omnis cumque quisquam minus laborum
                dolorum aperiam.</p>
            <button class="bg-black text-white px-5 py-2 rounded-4xl">Click me </button>
        </div>
    </div>

</body>

</html>