<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form >
        <input type="text" id="password" placeholder="Enter your password" ><span id="alertFunPass"></span>
        <br>
        <input type="submit" value = "Submit" onclick="return passwordValidation()">
    </form>
    <script>
        function passwordValidation(){
            let password = document.getElementById('password').value;
            let alertFunPass = document.getElementById('alertFunPass');
            const minLength = 8;
            const maxLength = 16;

            const hasUpperCase = /[A-Z]/
            const hasLowerCase = /[a-z]/
            const hasNumber = /[0-9]/
            const hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/

            if(password.length < minLength || password.length > maxLength){
                alertFunPass.innerHTML = "Password must be at least 8 characters long and at most 16 characters long";
                return false
            }
            else if(!hasUpperCase.test(password)){
                alertFunPass.innerHTML = "Password must have at least one uppercase letter";
                return false
            }
            else if(!hasLowerCase.test(password)){
                alertFunPass.innerHTML = "Password must have at least one lowercase letter";
                return false
            }
            else if(!hasNumber.test(password)){
                alertFunPass.innerHTML = "Password must have at least one number";
                return false
            }
            else if(!hasSpecialChar.test(password)){
                alertFunPass.innerHTML = "Password must have at least one special character";
                return false
            }
            return true

        }
    </script>
</body>
</html>